body{
    margin: 0;
}
h1{
    color: blue;
    text-align: center;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:blue;
}

header img{
    width: 6vw; /*vh; viewport width */
    margin-right: 10px;
    padding: 5px;

}

    

.menu a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin-left: 15px;
}

aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h2, .text p{
    padding: 10px;
    margin: 0px 10px 0px 10px; /* top right bottom left */
    color: blue;
}

text p{
    font-weight: blue;
}

.receita{
    font-size: 11pt;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 10px;
}